<div></div>

<vex-page-layout>
  <vex-page-layout-header class="flex flex-col items-start justify-center">
    <div class="w-full flex flex-col sm:flex-row justify-between">
      <div>
        <h1 class="title mt-0 mb-1">Asignación de inventario arrendamiento</h1>
        <vex-breadcrumbs [crumbs]="['Asignaciones']"></vex-breadcrumbs>
      </div>
    </div>
  </vex-page-layout-header>

  <vex-page-layout-content class="-mt-6">
    <div class="card overflow-auto mt-5">
      <form
        role="form"
        autocomplete="off"
        [formGroup]="formInventario"
        novalidate

      >
        <div class="mt-4 flex flex-col gap-2 m-2">
          <div class="flex flex-col lg:flex-row md:flex-row sm:gap-4">
            <mat-form-field class="flex-auto">
              <mat-label>Cliente</mat-label>
              <mat-select
                formControlName="cliente"
                (valueChange)="changeCliente($event)"
              >
                <mat-option
                  *ngFor="let cliente of listaClientes"
                  [value]="cliente.id"
                >
                  {{ cliente.razonsocial }}</mat-option
                >
              </mat-select>
              <mat-error *ngIf="this.cliente.hasError('required')">
                El campo es requerido</mat-error
              >
            </mat-form-field>
            <mat-form-field class="flex-auto">
              <mat-label>Empleado</mat-label>
              <!-- <mat-select formControlName="empleado">
                <mat-option
                  *ngFor="let empleado of listaEmpleados"
                  [value]="empleado.cuenta"
                >
                  {{ empleado.empleado }}</mat-option
                >
              </mat-select> -->

              <input type="text" matInput formControlName="empleado" maxlength="500" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let empl of filteredEmpleados" [value]="empl.nombre" (onSelectionChange)="empleadoSeleccionado(empl)">
                  {{empl.nombre}}
                </mat-option>

              </mat-autocomplete>
              <mat-error *ngIf="this.empleado.hasError('required')">
                El campo es requerido</mat-error
              >
            </mat-form-field>
          </div>
          <div class="flex flex-col lg:flex-row md:flex-row sm:gap-4">
            <mat-form-field class="flex-auto">
              <mat-label>Equipo</mat-label>
              <mat-select
                formControlName="equipo"
                (valueChange)="changeEquipo($event)"
              >
                <mat-option
                  *ngFor="let equipo of listaEquipo"
                  [value]="equipo.idinventarioarrendamiento"
                >
                  <b>Categoría: </b> {{ equipo.categoria + " | " }}
                  <b>Modelo: </b> {{ equipo.modelo + " | " }}
                  <b>Fabricante: </b> {{ equipo.fabricante + " | " }}
                  <b># Serie: </b> {{ equipo.numerodeserie + " | " }}
                  <b>Clave: </b>
                  {{ equipo.inventarioclv }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="this.equipo.hasError('required')">
                El campo es requerido</mat-error
              >
            </mat-form-field>
            <!-- <button
        class="mx-1 "
        color="primary"
        mat-mini-fab
        matTooltip="Asignar equipo"
        type="submit"
        [disabled]="this.formInventario.invalid"
      >
        <mat-icon svgIcon="mat:add"></mat-icon>
      </button> -->
          </div>
        </div>

        <!-- <div class="flex flex-col">
            <div class="ml-3 mt-3">
                <div class="flex flex-row">
                    <div class="flex xl:flex-row lg:flex-row md:flex-row items-center flex-col">
                        <div class="relative overflow-x-auto mt-2 w-80">
                            <label class="block text-sm font-medium text-gray-900 white:text-dark ml-2">
                                Usuario
                            </label>

                            <select
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
                                focus:border-blue-500 block w-full p-2.5 dark:bg-gray-400 dark:border-gray-600 dark:placeholder-gray-400
                                dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 mt-2"
                            >

                                <option>
                                    Seleccione...
                                </option>
                            </select>

                        </div>
                    </div>
                    <div class="flex xl:flex-row lg:flex-row md:flex-row items-center flex-col ml-5">
                        <div class="relative overflow-x-auto mt-2 w-80">
                            <label class="block text-sm font-medium text-gray-900 white:text-dark ml-2">
                                Cliente
                            </label>

                            <select
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
                                focus:border-blue-500 block w-full p-2.5 dark:bg-gray-400 dark:border-gray-600 dark:placeholder-gray-400
                                dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 mt-2"
                            >

                                <option>
                                    Seleccione...
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ml-3 mt-3">
                <div class="relative overflow-x-auto mt-2 w-80">
                    <label class="block text-sm font-medium text-gray-900 white:text-dark ml-2">
                        Equipo
                    </label>

                    <select
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
                        focus:border-blue-500 block w-full p-2.5 dark:bg-gray-400 dark:border-gray-600 dark:placeholder-gray-400
                        dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 mt-2"
                    >

                        <option>
                            Seleccione...
                        </option>
                    </select>
                </div>
            </div>
        </div> -->

        <div class="mx-5 overflow-x-auto" *ngIf="this.listaConfiguracion.length > 0">
          <div
            class="inline-block min-w-full shadow rounded-lg overflow-hidden"
          >
            <table class="min-w-full leading-normal">
              <thead>
                <tr>
                  <th
                    class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
                  >
                    CONFIGURACIÓN
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  class="text-center"
                  *ngIf="configuracionEquipo.value.length == 0"
                >
                  <td colspan="6">NO SE ENCONTRÓ CONFIGURACIÓN</td>
                </tr>
                <ng-container formArrayName="configuracionEquipo">
                  <ng-container
                    *ngFor="
                      let conf of configuracionEquipo.controls;
                      let i = index
                    "
                  >
                    <tr [formGroupName]="i">
                      <td
                        class="px-5 border-b border-gray-200 bg-white text-sm"
                      >
                        <mat-form-field class="flex-auto mt-5 w-full">
                          <mat-label>{{
                            conf.get("nombreConfiguracion").value
                          }}</mat-label>
                          <input
                            type="text"
                            matInput
                            formControlName="valor"
                          />
                          <mat-error *ngIf="this.conf.get('valor').hasError('required')">
                            El campo es requerido</mat-error
                          >
                        </mat-form-field>

                      </td>
                    </tr>
                  </ng-container>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </form>

      <div class="flex justify-end">
        <button
          class="m-5 "
          color="primary"
          mat-raised-button
          matTooltip="Asignar equipo"
          (click)="guardarAsignacion()"
          [disabled]="this.formInventario.invalid"
        >
          Guardar
        </button>
      </div>
    </div>
    <div class="card overflow-auto mt-5">
      <!-- TABLA -->
      <div class="py-4">
        <table
          [dataSource]="this.dataSourceTabla"
          class="w-full"
          mat-table
          matSort
        >
          <ng-container matColumnDef="nombreEmpleadoCliente">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Empleado
            </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Empleado">
              <div>
                {{ row.nombreEmpleadoCliente }}
              </div>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="modelo">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Modelo
            </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Modelo">
              <div>
                {{ row.modelo }}
              </div>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="fabricante">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Fabricante
            </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Fabricante">
              <div>
                {{ row.fabricante }}
              </div>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="categoria">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Categoria
            </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Categoria">
              <div>
                {{ row.categoria }}
              </div>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="inventarioclv">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Clave
            </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Clave">
              <div>
                {{ row.inventarioclv }}
              </div>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Responsiva">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Responsiva
            </mat-header-cell>
            <mat-cell
              *matCellDef="let row"
              data-label="Responsiva"
              class="flex justify-center"
            >
              <a
                matTooltip="Descarga responsiva"
                class="w-10 h-10 leading-none flex items-center justify-center hover:bg-hover text-primary bg-primary/10 mr-2"
                mat-icon-button
                (click)="generarCartaResponsivaDocumento(row.idrelempleadoinventarioarrendamiento)"
              >
                <mat-icon
                  class="icon-sm"
                  svgIcon="mat:file_download"
                ></mat-icon>
              </a>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="responsiva">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Responsiva firmada
            </mat-header-cell>
            <mat-cell
              *matCellDef="let row"
              data-label="Responsiva_firmada"
              class="flex justify-center"
            >
              <input
                id="responsiva_file"
                #responsiva_file
                type="file"
                class="hidden"
                (change)="cargarResponsiva($event, row)"
              />
              <a
                *ngIf="!row.responsiva"
                (click)="responsiva_file.click()"
                matTooltip="Sube responsiva firmada"
                class="w-10 h-10 leading-none flex items-center justify-center hover:bg-hover text-primary bg-primary/10 mr-2"
                mat-icon-button
              >
                <mat-icon class="icon-sm" svgIcon="mat:file_upload"></mat-icon>
              </a>
              <a
                *ngIf="row.responsiva"
                (click)="abrirDocumento(row.responsiva)"
                matTooltip="Visualizar responsiva"
                class="w-10 h-10 leading-none flex items-center justify-center hover:bg-hover text-primary bg-primary/10 mr-2"
                mat-icon-button
              >
                <mat-icon class="icon-sm" svgIcon="mat:open_in_new"></mat-icon>
              </a>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Acción
            </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Acción">
              <div class="flex justify-center">

                <a
                  (click)="openModalVisualizacion(row)"
                  matTooltip="Ver detalle"
                  class="w-10 h-10 leading-none flex items-center justify-center hover:bg-hover text-primary bg-primary/10 mr-2"
                  mat-icon-button
                >
                  <mat-icon class="icon-sm" svgIcon="mat:visibility"></mat-icon>
                </a>
                <a
                  (click)="desasignar(row)"
                  matTooltip="Desasignar"
                  class="w-10 h-10 leading-none flex items-center justify-center hover:bg-hover text-primary bg-primary/10 mr-2"
                  mat-icon-button
                >
                  <mat-icon
                    class="icon-sm"
                    svgIcon="mat:delete_forever"
                  ></mat-icon>
                </a>
              </div>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="visibleColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: visibleColumns"> </mat-row>
        </table>

        <div
          *ngIf="this.listaItems.length == 0"
          class="flex-auto items-center justify-center"
        >
          <h1 class="m-10 title" style="text-align: center">
            No se encontraron registros
          </h1>
        </div>

        <mat-paginator
          #paginator
          [pageSizeOptions]="[5, 10, 15]"
        ></mat-paginator>
      </div>

      <!-- Botones -->
      <!-- <div class="flex justify-end">
      <button
        type="button"
        class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900"
      >
        Cancelar
      </button>
      <button
        type="button"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
        [disabled]="this.formInventario.invalid"
      >
        Guardar
      </button>
    </div> -->
    </div>
  </vex-page-layout-content>
</vex-page-layout>
