<vex-page-layout>
  <vex-page-layout-header class="flex flex-col items-start justify-center">
    <div class="w-full flex flex-col sm:flex-row justify-between">
      <div>
        <h1 class="title mt-0 mb-1">Crear Plano</h1>
        <vex-breadcrumbs [crumbs]="['Home','Crear']"></vex-breadcrumbs>
      </div>
    </div>
  </vex-page-layout-header>
  <vex-page-layout-content class="-mt-6">
    <div class="card overflow-auto mt-5 flex justify-center">
      <ng-container>
        <canvas #myCanvas [width]="(image.width*92)/100" [height]="(image.height*92)/100" (click)="punto($event)" >
        </canvas>
      </ng-container>
    </div>
  </vex-page-layout-content>
</vex-page-layout>
