<div class="w-full h-full bg-pattern flex flex-col items-center justify-center">
    <div class="card overflow-hidden w-full max-w-xs">
        <div class="p-6 pb-0 flex flex-col items-center justify-center">
        <div class="fill-current text-center">
            <img class="w-16" src="assets/img/grupopm_ch.png">
        </div>
        </div>

        <div class="text-center mt-4">
        <h2 class="title m-0">Sistema Mesa de validación</h2>
        <h4 class="body-2 text-secondary m-0 px-1">Ingrese su nueva contraseña de ingreso</h4>
        </div>

        <div [formGroup]="form" class="p-6 flex flex-col gap-4">
        <div class="flex flex-col">
            <mat-form-field class="flex-1">
            <mat-label>Nueva contraseña</mat-label>
            <input 
                formControlName="password" 
                matInput 
                required 
                class="bg-slate-100" 
                placeholder="Ingrese su nueva contraseña"
                [type]="inputType"
            >
            <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Ver contraseña" type="button">
                <mat-icon *ngIf="visible" svgIcon="mat:visibility"></mat-icon>
                <mat-icon *ngIf="!visible" svgIcon="mat:visibility_off"></mat-icon>
            </button>
            <mat-error *ngIf="form.get('password').hasError('required')">La contraseña es requerida</mat-error>
            <mat-error *ngIf="form.get('password').hasError('password')">Ingrese una contraseña válida</mat-error>
            </mat-form-field>
        </div>
        <div class="flex flex-col">
            <mat-form-field class="flex-1">
                <mat-label>Re-ingresa tu nueva contraseña</mat-label>
                <input 
                    formControlName="repassword" 
                    matInput 
                    required 
                    class="bg-slate-100" 
                    placeholder="Re-ingrese su nueva contraseña"
                    [type]="inputType"
                >
                <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Ver contraseña" type="button">
                    <mat-icon *ngIf="visible" svgIcon="mat:visibility"></mat-icon>
                    <mat-icon *ngIf="!visible" svgIcon="mat:visibility_off"></mat-icon>
                </button>
                <mat-error *ngIf="form.get('repassword').hasError('required')">La contraseña es requerida</mat-error>
                <mat-error *ngIf="form.get('repassword').hasError('repassword')">Ingrese una contraseña válida</mat-error>
            </mat-form-field>
        </div>

        <button [disabled]="form.invalid" (click)="updatePassword()" color="primary" mat-raised-button type="button">
            Actualizar
        </button>


        </div>
    </div>
</div>
  