<vex-page-layout>
  <vex-page-layout-header class="flex flex-col items-start justify-center">
    <div class="w-full flex flex-col sm:flex-row justify-between">
      <div>
        <h1 class="title mt-0 mb-1">Plano Intereactivo</h1>
        <vex-breadcrumbs [crumbs]="['Home','Plano']"></vex-breadcrumbs>
      </div>
    </div>
  </vex-page-layout-header>
  <vex-page-layout-content class="-mt-6">
    <div class="card overflow-auto mt-5 flex justify-center">
      <ng-container>
        <!-- <vex-image-map [src]="image" [coordinates]="coordinates" (onClick)="getClick($event)" [canEdit]="true"></vex-image-map> -->
        <div id="image-container" (contextmenu)="onAreaCreate(1,1)">
          <img [width]="(imageTam.width*92)/100" [height]="(imageTam.height*92)/100" [src]="imageTam.src">
          <div class="coordinates-container">
            <div [ngClass]="coordinate.clikeado == false ? 'area' : 'clikeado'" [ngStyle]="getCoordinateStyle(coordinate)" [matTooltip]="coordinate.name" *ngFor="let coordinate of coordinates" (click)="onAreaClick(coordinate)" (contextmenu)="onAreaEdit(coordinate)">
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </vex-page-layout-content>
</vex-page-layout>
