<div class="flex items-center" style="border: none !important" mat-dialog-title>
  <h2 class="headline m-0 flex-auto">Imagenes del producto {{this.inventario.modelo}} - {{this.inventario.inventarioclv}} </h2>
  <button></button>
  <!-- <mat-icon  svgIcon="mat:help" matTooltip="El grupo de opciones funciona como un alias o una etiqueta para una lista de opciones."></mat-icon> -->
  <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
    <mat-icon svgIcon="mat:close"></mat-icon>
  </button>
</div>
<mat-divider class="-mx-6 text-border"></mat-divider>
<mat-dialog-content class="px-0">
  <div class="card overflow-auto grid grid-cols-1 gap-2 flex-wrap">
    <div
      class="w-full p-5 bg-white border border-gray-200 rounded-lg shadow-md mr-5"
    >
    <div class="flex flex-col lg:flex-row md:flex-row sm:gap-4 mb-4">
      <div class="w-full flex justify-end">
        <mat-button-toggle-group
          class="px-2 py-2"
          #group="matButtonToggleGroup"
          aria-label="Favorite Color"
          [value]="selectedVal"
          (change)="onValChange(group.value)"
        >
          <mat-button-toggle value="Carga archivos"
            >Carga archivos</mat-button-toggle
          >
          <mat-button-toggle value="Cámara">Cámara</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
    <!-- Camara -->
    <div class="flex flex-col lg:flex-row md:flex-row sm:gap-4 mb-4" *ngIf="group.value == 'Cámara'">
      <vex-camara class="w-full" (pictureTaken)="handleImage($event)"></vex-camara>
    </div>

    <div class="flex flex-col lg:flex-row md:flex-row sm:gap-4 mb-4" *ngIf="group.value == 'Carga archivos'">
      <div class="w-full">
        <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)"
        (onFileLeave)="fileLeave($event)">
        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
          Arraste archivo
          <button style="margin-left: 1rem;" type="button" (click)="openFileSelector()">Buscar archivos</button>
        </ng-template>
      </ngx-file-drop>
      </div>
    </div>




    <div
    *ngIf="images.length == 0"
    class="flex-auto items-center justify-center"
  >
    <h1 class="m-10 title" style="text-align: center">
      No se encontraron archivos
    </h1>
  </div>
  <div class="flex flex-col">
    <div class="grid grid-cols-1 gap-4">
      <div *ngIf="images.length > 0">
        <img src="{{imagenLoad}}" style="margin: auto;max-width: 50rem;max-height: 50rem;">
        <div class="flex justify-between items-center mb-10">
          <button (click)="deleteImage()" color="basic" mat-mini-fab matTooltip="Eliminar" type="button">
            <mat-icon svgIcon="mat:delete"></mat-icon>
          </button>
          <button (click)="navegar()" *ngIf="images.length > 1" color="basic" mat-mini-fab matTooltip="Hacia adelante"
            type="button">
            <mat-icon svgIcon="mat:arrow_forward_ios"></mat-icon>
          </button>
        </div>
        <div align="end" style="vertical-align: middle">
        </div>
      </div>

         <!--  <div class="card h-72 mb-5">
            <div
              class="flex justify-end mb-1"
              (click)="eliminarArchivo(i, conf)"
            >
              <a href="javascript:;">
                <span
                  class="text-xs font-medium mr-2 px-2.5 py-0.5 rounded bg-red-700 text-red-200"
                >
                  Eliminar
                </span>
              </a>
            </div>
            <div
              class="flex flex-col justify-center content-center"
              [formGroupName]="i"
            >
              <img
                matTooltip="Ver Imagen"
                class="h-40 max-w-full rounded-lg m-5"
                (click)="abrirDocumento(conf.get('url').value)"
                [src]="conf.get('url').value"
                alt=""
              />


            </div>
          </div> -->
    </div>
  </div>
    </div>
  </div>
</mat-dialog-content>

