@media screen and (min-width: 600px) {
    .ocultar-div{
        display:none;
    }
}
.navegador{
    position: sticky;
right: 0px;
top: 23px;
padding-top: 15px;
margin-bottom: 0;
}

.mat-button-toggle-checked {
  background-color: #093F97;
  color: white !important;
}
